.gallery__title {
  border-radius: 30px 30px 30px 30px;
  width: 750px;
  height: 70px;
  padding: 20px;
  display: flex;
  padding-left: 30px;
  direction: rtl;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  align-items: center;
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 976px) {
  .gallery__title {
    width: 650px;
    height: 60px;
    padding-left: 20px;
    font-size: 1 rem;
  }
}
@media only screen and (max-width: 776px) {
  .gallery__title {
    width: 500px;
    height: 60px;
    /* padding-left: 20px; */
    font-size: 30px;
  }
}
@media only screen and (max-width: 476px) {
  .gallery__title {
    width: 12rem;
    height: 60px;
    font-size: 15px;
  }
}
